
/* SMALL */

.noteBlock {
	font-family: Helvetica;
}

.noteBlock h1 {
	margin: 0px 0px 7px 0px;
	font-size: 13px;
	line-height: 15px;
	height: 30px;
	overflow: hidden;
}

.noteBlock p {
	margin: 0px;
	font-size: 11px;
	line-height: 16px;
	color: #808080;
}

.noteBlock p.date {
	color: #0077d9;
}

.noteBlock p.snippettext {
	height: 112px;
	overflow: hidden;
}

.noteBlock p.mixed {
	height: 48px;
	overflow: hidden;
}

.noteBlock img {
	max-width: 110px;
	max-height: 110px;
	margin-top: 1px;
	margin-bottom: 0px;
}

.noteBlock img.smallimage {
	max-width: 60px;
	max-height: 60px;
	margin-top: 3px;
}

/* LAYOUT */

.noteBlock {
	width: 130px;
	height: 180px;
	background-color: rgb(255, 255, 255);
}

.noteBlock div.snippet {
	width: 110px;
	margin-left: -1px;
	padding: 6px 10px 0px 10px;
	float: left;
}

/* LINES */

.noteBlock div.gridheader {
	height: 38px;
	border-bottom-color: rgba(252, 66, 8, .2);
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.noteBlock div.gridbody {
	height: 15px;
	border-bottom-color: rgba(93, 196, 243, .2);
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.noteBlock div.leftmargin {
	height: 180px;
	position: relative;
	left: 10px;
	float: left;
	border-left-color: rgba(93, 196, 243, .2);
	border-left-style: solid;
	border-left-width: 1px;
}
